<!DOCTYPE HTML>

<html>
	<head>
		<title>BizClout Registration</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/static/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="{{ url_for('index') }}" class="logo">BizClout</a>
					<nav id="nav">
						<a href="{{ url_for('index') }}">Home</a>
						<a href="{{ url_for('generic') }}">Register</a>
						<a href="{{ url_for('elements') }}">Find Influencers</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

			<section id="three" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>Find Influencers here</h2>
						<p>Use ML to find youtubers that can promote your business.</p>
					</header>
					<div class="image round left">
						<img src="images/pic02.jpg" alt="Pic 01" />
					</div>
					<p>yea ok
			</section>

			<div class='row'>
				<div class="form-group w-25">
					<form action='run_channels' method='POST' enctype='multipart/form-data'>
						Search for Influencers: <input type='text' name='query'><br>
						Max Results: <input type='number' name='maxResults'><br>
						<input type="submit" name="submit" value="Submit">
					</form>
				</div>
			</div>

			{% if channels %}
				<h2>Search Results: {{query}}</h2>


		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h3>Get in touch</h3>

					<form action="#" method="post">

						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
